.Details {
    width: 60%;
    height: 100%;
    margin: auto;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.732);
    padding: 20px;
    border-radius: 20px;
	
}
.Details .indetail{
    height: 400px;
    
}