.Equipment {
    text-align: center;
    background-color: rgba(36, 12, 12, 0.512);
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 18px 6px rgb(37, 35, 31);
    border-radius: 10px;
    padding: 10px;
    
}
.Equipment span{
    color: orange;
    font-size: 20px;
    font-weight: 700;
    padding: 2px;
}
.Equipment button{
    margin: 20px;
}