.Product {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 10px;
    text-align: right;
    display: flex;
    flex-direction: row;
    height: 200px;
    border-left: 10px blue solid;	
    border-right: 10px blue solid;	
    padding-top: 20px;
}
.Product img{
    margin: 5px;
    min-width: 170px;
}
.Product h2{
    margin: 5px;
    color: orange;
  
}
.Modal1 h2{
    text-align: center;
    width: 400px;
}
.Modal1 .b{
    color: orange;
    font-size: 20px;
    font-weight: 300;
    padding: 12px;
    margin: 4px;
    background-color: rgb(219, 212, 212);
    cursor: pointer;
    border: unset;
}
.Modal1 .b:hover{
    color: black;
    background-color:orange
    
}
.Product button{
    margin:auto;
    margin-left: 10px;
    color: blue;
    border: unset;
    font-size: 40px;
    background-color: white;
    cursor: pointer;
}